body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.hero {
    background: #1e293b;
    color: white;
    text-align: center;
    padding: 120px;
}

    .hero button {
        background: #38bdf8;
        border: none;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
    }

.services {
    padding: 60px;
    text-align: center;
}

.service-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background: #f1f5f9;
    padding: 20px;
    width: 220px;
    border-radius: 5px;
}

.about {
    padding: 60px;
    background: #f8fafc;
    text-align: center;
}

.contact {
    padding: 60px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 10px;
    background: #0f172a;
    color: white;
    border: none;
}
